*{
  font-family: "Comic Sans MS", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo{
  font-size: 2em;
  color: white;
  user-select: none;
}

.navigation .popUp{
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid white;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: white;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}
.navigation .popUp:hover{
  background: white;
  color: #162938;

}
.back-video{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container{
  position: absolute;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255,255,255,.5);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(0,0,0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 10;
  overflow: hidden;
  transform: scale(0);
  transition: transform .5s ease;
}
.container.activePopUp{
  transform: scale(1);
}
.container .closeIcon{
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: lightskyblue;
  font-size: 2em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}
.container .login{
  width: 100%;
  padding: 35px;
  transition: transform .18s ease;
  transform: translateX(0);
}
.container.active .login{
  transition: none;
  transform: translateX(-400px);
}

.container .registerPage{
  position: absolute;
  transition: none;
  transform: translateX(400px);
}
.container.active .registerPage{
  transition: transform .18s ease;
  transform: translateX(0);
}

.container h2{
  font-size: 2em;
  color: white;
  text-align: center;
}
.userInput{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid white;
  margin: 30px 0;
}
.userInput label{
  position: absolute;
  top:50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: white;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}
.userInput input:focus~label,
.userInput input:valid~label{
  top: -5px;
}
.userInput input{
  width: 92%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: white;
  font-weight: 600;
  padding: 0 20px 0 5px;
}
.userInput .icon{
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #162938;
  line-height: 57px;
}
.btn{
  width: 100%;
  height: 45px;
  background: #b3d4fc;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
}
.loginRegister{
  font-size: .9em;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.loginRegister p a{
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.loginRegister p a:hover{
  text-decoration: underline;
}
#postContainer{
  position: absolute;
  height: 86%;
  bottom: 10px;
  width: 91.15%;
  background-color: transparent;
  backdrop-filter: blur(10px);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
  overflow-x: hidden;
  border: none;
  outline: none;
}
.Posts{
  padding: 10px;
  overflow-wrap: break-word;
  background-color: rgba(156,255,122,.5);
  backdrop-filter: blur(50px);
  border-radius: 20px 20px 0 0
}
.replyContainer{
  background-color: rgba(191,148,228,.5);
  padding: 10px;
  overflow-wrap: break-word;
  border-radius: 0 0 20px 20px;
  margin-bottom: 10px;
}
.Posts h3{
  width: 1000px;
}



.containerTHREE{
  display: inline-block;
  border: 1px solid black;
  margin: 10px;
}

/*.buttonPages{*/
/*  width: 100%;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/
/*.buttonPages h3{*/
/*  position: absolute;*/
/*  left: 25px;*/
/*  color: white;*/
/*}*/
/*.nextPrev{*/
/*  width: 35px;*/
/*  height: 35px;*/
/*  background-color: rgba(255,165,0, .3);*/
/*  border-radius: 5px;*/
/*  color: white;*/
/*  cursor: pointer;*/
/*  margin-left: 5px;*/
/*  margin-right: 5px;*/
/*}*/
.logo{
  cursor: pointer;
}
