<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="assets/images/favicon.png"
    />
    <title>ANI</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Poppins", sans-serif;
      }
    </style>
  </head>

  <body class="bg-gray-50">
    <!-- Header -->
    <header
      class="bg-white"
      style="
        background-color: #fbfada;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      "
    >
      <nav
        class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
        aria-label="Global"
      >
        <!-- Logo -->
        <div class="flex lg:flex-1">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">ANI</span>
            <img class="h-8 w-auto" src="assets/images/ani.png" alt="ANI" />
          </a>
        </div>

        <!-- Hamburger Button (Small Screens) -->
        <div class="flex lg:hidden">
          <button
            id="menu-toggle"
            type="button"
            class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="1.5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
          </button>
        </div>

        <!-- Navigation Links (Large Screens) -->
        <div class="hidden lg:flex lg:gap-x-12">
          <a
            href="index.html"
            class="text-sm font-semibold text-[#436850] hover:text-gray-900"
            >Explore</a
          >
          <a
            href="#"
            class="text-sm font-semibold text-[#436850] hover:text-gray-900"
            >About</a
          >
          <a
            href="home.html"
            class="text-sm font-semibold text-[#436850] hover:text-gray-900"
            >Products</a
          >
        </div>
      </nav>

      <!-- Mobile Sidebar -->
      <div
        id="mobile-menu"
        class="fixed inset-y-0 right-0 z-20 w-3/4 max-w-sm bg-white px-6 py-6 transform translate-x-full transition-transform lg:hidden"
      >
        <div class="flex items-center justify-between">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">ANI</span>
            <img class="h-8 w-auto" src="assets/images/ani.png" alt="ANI" />
          </a>
          <button
            id="menu-close"
            type="button"
            class="-m-2.5 rounded-md p-2.5 text-gray-700"
          >
            <span class="sr-only">Close menu</span>
            <svg
              class="h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="1.5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <a
                href="index.html"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold text-[#436850] hover:bg-gray-50"
                >Explore</a
              >
              <a
                href="#"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold text-[#436850] hover:bg-gray-50"
                >About</a
              >
              <a
                href="home.html"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold text-[#436850] hover:bg-gray-50"
                >Products</a
              >
            </div>
          </div>
        </div>
      </div>
    </header>

    <main class="flex items-center justify-center min-h-screen px-6 py-8">
      <div class="w-full max-w-md bg-white shadow-lg rounded-lg p-6">
        <div class="flex justify-center">
          <img class="h-10 mb-4" src="assets/images/ani.png" alt="logo" />
        </div>
        <h1 class="text-3xl font-extrabold text-center text-[#436850] mb-6">
          Sign-Up
        </h1>

        <form id="register-form" class="space-y-4">
          <div>
            <label
              for="username"
              class="block text-sm font-medium text-gray-700"
              >Username</label
            >
            <input
              type="text"
              name="username"
              id="username"
              placeholder="jeremtherock"
              class="w-full border border-gray-300 rounded-md p-2.5 focus:ring-[#436850] focus:border-[#436850]"
              required
            />
          </div>

          <div>
            <label
              for="password"
              class="block text-sm font-medium text-gray-700"
              >Password</label
            >
            <input
              type="password"
              name="password"
              id="password"
              placeholder="••••••••"
              class="w-full border border-gray-300 rounded-md p-2.5 focus:ring-[#436850] focus:border-[#436850]"
              required
            />
          </div>

          <div>
            <label
              for="first-name"
              class="block text-sm font-medium text-gray-700"
              >First Name</label
            >
            <input
              type="text"
              name="firstName"
              id="first-name"
              placeholder="John"
              class="w-full border border-gray-300 rounded-md p-2.5 focus:ring-[#436850] focus:border-[#436850]"
              required
            />
          </div>

          <div>
            <label
              for="last-name"
              class="block text-sm font-medium text-gray-700"
              >Last Name</label
            >
            <input
              type="text"
              name="lastName"
              id="last-name"
              placeholder="Doe"
              class="w-full border border-gray-300 rounded-md p-2.5 focus:ring-[#436850] focus:border-[#436850]"
              required
            />
          </div>

          <div>
            <label
              for="phone-number"
              class="block text-sm font-medium text-gray-700"
              >Phone Number</label
            >
            <input
              type="tel"
              name="phoneNumber"
              id="phone-number"
              placeholder="09243574356"
              class="w-full border border-gray-300 rounded-md p-2.5 focus:ring-[#436850] focus:border-[#436850]"
              required
            />
          </div>

          <div>
            <label for="address" class="block text-sm font-medium text-gray-700"
              >Address</label
            >
            <input
              type="text"
              name="address"
              id="address"
              placeholder="123 Main St"
              class="w-full border border-gray-300 rounded-md p-2.5 focus:ring-[#436850] focus:border-[#436850]"
              required
            />
          </div>

          <button
            type="submit"
            class="w-full bg-[#436850] text-white font-medium p-2.5 rounded-md hover:bg-[#365c45] focus:ring-2 focus:ring-[#365c45]"
          >
            Create an account
          </button>

          <p class="text-center text-sm text-gray-500 mt-2">
            Already have an account?
            <a
              href="login.html"
              class="text-[#436850] font-medium hover:underline"
              >Login here</a
            >
          </p>
        </form>
        <div id="register-error" class="text-red-500 text-sm mt-2"></div>
      </div>
    </main>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script src="js/register.js"></script>
  </body>
</html>
