<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ANI</title>
    <!--Replace with your tailwind.css once created-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
    <style>
        body {
            font-family: Poppins;
            overflow-y: auto;
        }
    </style>
</head>

<body>
    <header class="bg-white" style="
        background-color: #fbfada;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      ">
        <nav class="mx-auto flex max-w-7xl items-center justify-between p-3 lg:px-8" aria-label="Global">
            <div class="flex lg:flex-1">
                <a href="#" class="-m-1.5 p-1.5">
                    <p class="sr-only">ANI</p>
                    <img class="h-8 w-auto" src="assets/images/ani.png" alt="ANI Logo" />
                </a>
            </div>
            <div class="flex lg:hidden">
                <button type="button" id="mobile-menu-button"
                    class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                    <span class="sr-only">Open main menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                </button>
            </div>
            <div class="hidden lg:flex lg:gap-x-12" id="farmer-buttons"></div>
            <div class="hidden lg:flex lg:flex-1 lg:justify-end items-center gap-4">
                <div class="flex justify-end p-4">
                    <button class="relative" id="goToCart">
                        <svg class="w-8 h-8 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-1.4 5M17 13l1.4 5M9 21h6M9 21a2 2 0 11-4 0M15 21a2 2 0 104 0">
                            </path>
                        </svg>
                        <span
                            class="absolute top-0 right-0 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-red-100 bg-red-600 rounded-full"
                            id="cart-count">
                            0
                        </span>
                    </button>
                </div>
                <a href="index.html" class="text-sm/6 font-semibold text-gray-900 flex items-center gap-2" id="logout">
                    Log out <span aria-hidden="true">&rarr;</span>
                </a>
            </div>
        </nav>
        <!-- Mobile menu -->
        <div id="mobile-menu" class="hidden lg:hidden" role="dialog" aria-modal="true">
            <!-- Background backdrop -->
            <div class="fixed inset-0 z-10"></div>
            <div
                class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
                <div class="flex items-center justify-between">
                    <a href="#" class="-m-1.5 p-1.5">
                        <span class="sr-only">ANI</span>
                        <img class="h-8 w-auto" src="assets/images/ani.png" alt="ANI Logo" />
                    </a>
                    <button type="button" id="close-mobile-menu" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                        <span class="sr-only">Close menu</span>
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div class="mt-6 flow-root">
                    <div class="-my-6 divide-y divide-gray-500/10">
                        <div class="space-y-2 py-6" id="farmer-buttons">
                            <!-- Mobile Navigation Links -->
                            <a href="#"
                                class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Explore</a>
                            <a href="#"
                                class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">About</a>
                            <a href="#"
                                class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Products</a>
                        </div>
                        <div class="py-6 flex items-center gap-4">
                            <a href="profile.html">
                                <img class="h-8 w-8 rounded-full border-2 border-gray-300"
                                    src="https://via.placeholder.com/150/436850/ffffff?text=Profile"
                                    alt="Placeholder Profile Picture" id="profile-picture" />
                            </a>
                            <button class="relative" id="goToCart">
                                <svg class="w-8 h-8 text-gray-700" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-1.4 5M17 13l1.4 5M9 21h6M9 21a2 2 0 11-4 0M15 21a2 2 0 104 0">
                                    </path>
                                </svg>
                                <span
                                    class="absolute top-0 right-0 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-red-100 bg-red-600 rounded-full"
                                    id="cart-count">
                                    0
                                </span>
                            </button>
                            <a href="index.html"
                                class="text-base font-semibold text-gray-900 hover:bg-gray-50 rounded-lg px-3 py-2">
                                Log out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="flex items-center justify-center mt-5">
        <div class="w-96 bg-yellow-50 shadow-lg rounded-lg p-6 text-center">
            <div class="flex justify-center">
                <img class="h-10 mb-4" src="assets/images/ani.png" alt="logo" />
            </div>
            <div class="w-24 h-24 bg-yellow-400 rounded-full mx-auto mb-4 flex items-center justify-center">
                <img class="h-8 w-8 rounded-full border-2 border-gray-300"
                    src="https://via.placeholder.com/150/436850/ffffff?text=Profile" alt="Placeholder Profile Picture"
                    id="profile-picture-desk" />
            </div>
            <h2 class="text-3xl font-bold text-gray-900">
                <span id="first-name">First Name</span>&nbsp;&nbsp;<span id="last-name">Last Name</span>
            </h2>
            <p class="text-gray-600 text-sm mb-4">
                @<span id="username">username</span>
            </p>
            <!-- Phone and Address -->
            <div class="text-gray-700 text-sm mb-4">
                <p class="block text-gray-700 text-sm font-bold mb-2">
                    Phone Number:
                </p>
                <p id="phone-number" class="text-gray-700 mb-2"></p>
                <p class="block text-gray-700 text-sm font-bold mb-2">Address:</p>
                <p id="address" class="text-gray-700 mb-2"></p>
            </div>
            <!-- Footer for Roles -->
            <div class="text-gray-800 font-semibold mt-6" id="role">
                <span id="isStaff"></span> <span class="text-gray-400" id="splitter">|</span>
                <span id="isFarmer"></span>
            </div>
            <div class="flex justify-center mt-3">
                <a href="update_profile.html"
                    class="w-full bg-[#436850] text-white hover:bg-[#365c45] focus:ring-4 focus:outline-none focus:ring-[#365c45] font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-white dark:text-[#436850] dark:hover:bg-[#436850] dark:hover:text-white dark:focus:ring-[#365c45]">Edit
                    Profile</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="js/profile.js"></script>
</body>

</html>