<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
        ANI
    </title>
    <!--Replace with your tailwind.css once created-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
    <style>
        body {
            background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
        }
    </style>
</head>

<body>
    <div class="min-h-screen flex items-center justify-center">
        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
            <div class="flex items-center justify-center mb-4">
                <img id="profile-picture" class="w-24 h-24 rounded-full" src="https://via.placeholder.com/150"
                    alt="Profile Picture">
            </div>
            <div class="mb-4">
                <p class="block text-gray-700 text-sm font-bold mb-2">Username:</p>
                <p id="username" class="text-gray-700"></p>
            </div>
            <div class="mb-4">
                <p class="block text-gray-700 text-sm font-bold mb-2">First Name:</p>
                <p id="first-name" class="text-gray-700"></p>
            </div>
            <div class="mb-4">
                <p class="block text-gray-700 text-sm font-bold mb-2">Last Name:</p>
                <p id="last-name" class="text-gray-700"></p>
            </div>
            <div class="mb-4">
                <p class="block text-gray-700 text-sm font-bold mb-2">Phone Number:</p>
                <p id="phone-number" class="text-gray-700"></p>
            </div>
            <div class="mb-4">
                <p class="block text-gray-700 text-sm font-bold mb-2">Address:</p>
                <p id="address" class="text-gray-700"></p>
            </div>
            <div class="mb-4">
                <p class="block text-gray-700 text-sm font-bold mb-2">Is Staff:</p>
                <p id="is-staff" class="text-gray-700"></p>
            </div>
            <div class="mb-4">
                <p class="block text-gray-700 text-sm font-bold mb-2">Is Farmer:</p>
                <p id="is-farmer" class="text-gray-700"></p>
            </div>
            <div class="flex justify-center">
                <a href="#" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">Edit Profile</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="js/profile.js"></script>
</body>

</html>