.root{
    -fx-background-image: url("9797993_4248613.jpg");
    -fx-background-size: cover;
}

.names{
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}

.postContent{
    -fx-font-style: italic;
}

.post{
    -fx-margin-bottom: 100px;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}

#posts{
    -fx-spacing: 10px;
}